*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    background-image: url(img/Vector\ 1.png);
    background-repeat: no-repeat;
    background-size: 100% 113%;
    max-width: 1400px;
} */
body{
    background-image: url(img/background_portafolio/background1.jpg);
}
.hero{
    display: block;
    justify-content: center;
}

/* .header{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
} */
.logo{
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: roboto slab;
    line-height: 80px;
    padding-left: 100px;
    color: #FFF;
    text-align: center;

    text-shadow: -4px 3px 0 #2ccca7, -14px 7px 0 #0a0e27;
}
.navBar{
    /* display: flex;
    flex-direction: row; */
    /* justify-content: ; */

    background-color: rgb(0, 0, 0);
    position: relative;
    /* align-items: center; */
    padding: 0 100px 0 100px;
    height: 100%;
    height: 80px;
    margin-bottom: 20px;
}

.contenedoritems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: right;

    padding: 30px 50px;
    list-style: none;
    align-items: center;
}

.navBarItem{
    display: inline-block;
}

.navBarLink{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 20px;
    font-family: roboto slab;
    font-weight: 100;
    font-size: 15px;

}

.navBarLink:hover{
    color: #2ccca7;
}

/* CONTENEDOR BIENVENIDA */

.bienvenida{
    width: 609px;
    height: 200px;
    margin-top: 82px;
    margin-left: 82px;

    font-family: roboto slab;
    font-weight: 400;
    font-size: 64px;
    line-height: 85px;
    text-align: center;
    position: static;
    color:#ffffff;
    text-shadow: -4px 3px 0 #2ccca7, -14px 7px 0 #0a0e27;

}

.bienvenidadescrip{
    width: 615px;
    height: 125px;
    margin-top: 30px;
    margin-left: 82px;
    
    color: #ffffff;
    font-family: roboto slab;
    font-weight: 100;
    font-size: 20px;
    position: static;


    text-align: justify;
}

.burger{
    width: 590px;
    /* height: 930px; */
    /* margin-top: -110px; */
    margin-left: 675px;
    border-radius: 50%;

    position: absolute;
}

.boton , .boton1{
    width: 150px;
    height: 60px;
    /* margin-top: 640px; */
    margin-left: 180px;
    border-radius: 50px;
    background: none;
    border: 4px solid #2ccca7;
    color: #FFF;
    cursor: pointer;

}
.boton , .boton1 , a{
    text-decoration: none;
    color: #FFF;
}

.boton1{
    margin-left: 60px;
}

.first{
    display: flex;
    flex-direction: column;

    width: 90%;
    background: #000000b8;
    margin: auto;



}
.botones{
    width: 90%;
    height: 150px;
    
    margin-top: 60px;

}
.contenedor{
    width: 1366px;
    margin: auto;
    background: url(img/background_portafolio/background1.jpg) no-repeat;
    background-size: auto;
    background-position:center center;
    height: calc(100vh - 100px);
}
.checkbtn{
    font-size: 40px;
    color: #ffffff;
    float: left;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media screen and (max-width:768px){
    .logo{
        padding: 30px 0 20px 0;
        line-height: 25px;

    }
    .navBar{
        padding: 0;
        padding-right: 20px;
        padding-left: 30px;
    }
     .checkbtn{
         display: block;
         padding-right: -65px;
     }
     .contenedor{
         width: 100%;   
     }
     .contenedoritems{
         display: flex;
         position: fixed;
         width: 100%;
         height: 100%;
         left: -100vh;
         background:#000000;
         flex-direction: column;
         justify-content: space-evenly;
         align-items: center;
         text-align: center;
         transition: .5s;

     }
     #check:checked ~ .contenedoritems {
         left: 0;

     }
     .burger{
         display: none;
     }
     .bienvenida{
         width: auto;
         margin: auto;
         font-size: 50px;
     }
     .bienvenidadescrip{
         width: auto;
         margin-left: 30px;
         margin-right: 30px;
         font-size: 15px;
     }
     .boton , .boton1{
         width: 120px;
         margin-left: 40px;

     }
}

@media screen and (max-width:450px){
}