*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/background_portafolio/background1.jpg);
    font-family: roboto slab;
    
    
}
.logo{
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: roboto slab;
    /* padding: 100px; */
    color: #FFF;
    text-align: center;

    text-shadow: -4px 3px 0 #2ccca7, -14px 7px 0 #0a0e27;
}
.navBar{
    display: flex;
    justify-content: space-between;

    background-color: rgb(0, 0, 0);
    position: relative;
    align-items: center;
    padding: 0 100px 0 100px;
    height: 100%;
    height: 80px;
}

.contenedoritems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 20px;
    list-style: none;
    align-items: center;
}

/* .navBarItem{
    text-decoration: none;
    color: cornsilk;
} */

.navBarLink{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 20px;
    font-family: roboto slab;
    font-weight: 100;
    font-size: 15px;

}

.navBarLink:hover{
    color: #2ccca7;
}


.titulo{
    font-family: roboto slab;
    color: #fff;
    background: #c18b92;
    text-shadow: -4px 3px 0 #2ccca7, -14px 7px 0 #0a0e27;
    
}

.galeria{
    padding-top: 20px;
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}

.linea{
    border-top: 5px solid #c18b92;
    
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display:flex;
    width: 60%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
    
}

.contenedor-imagenes .imagen{
    width: 259px;
    position: relative;
    /* height:250px; */
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
    width: 100%;
    height:400px;
    object-fit: cover;
}

/* .imagen img:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
} */
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.603) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 1s ease;
}

.overlay_link{
    text-decoration: none;
    font-size: 24px;
    color: #fff;

}

.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

.boton{
    width: 150px;
    height: 60px;
    margin-top: 280px;
    margin-left: 54.5px;
    border-radius: 50px;
    background:none;
    border: 4px solid #c18b92;
    color: #FFF;
    cursor: pointer;
}
.boton .boton_link{
    text-decoration: none;
    color: #FFF;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}